<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>
    <script type="text/javascript">
        $(function () {
            if ($.cookie("name") != null) {
                var primus = Primus.connect();
                primus.write({'action': 'get_person', 'u': $.cookie("name")});
                primus.on('data', function message(data) {
                    var get_person_answer = data.get_person_answer;
                    if (get_person_answer === 'error') {
                        window.alert('Error');
                        window.open('/', "_self")
                    }
                    else if (get_person_answer === 'success') {
                        window.person = data.person;
                        console.log(window.person);
                        var data_name = "<b>Hej, " + $.cookie("name") + "!</b>";
                        $("#name").html(data_name);
                        $("#body_elements").attr('style', 'display: block');
                    }
                });
            }
            else {
                window.open('/', "_self")
            }
        });
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script src="/public/lib/primus.js"></script>
    <script src="/public/js/index.js"></script>
    <script src="/public/lib/josh.js/killring.js"></script>
    <script src="/public/lib/josh.js/history.js"></script>
    <script src="/public/lib/josh.js/readline.js"></script>
    <script src="/public/lib/josh.js/shell.js"></script>
    <script src="/public/lib/josh.js/pathhandler.js"></script>
    <script src="/public/js/cli-commands.js"></script>
    <script src="/public/lib/cli.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
</head>

<body id="body_elements" style="display: none;">
<table>
    <tr>
        <td id="name">test</td>
        <td id="logout">
            <button onclick="logout()">Logout</button>
        </td>
    </tr>
</table>
<script>
    function logout() {
        var primus = Primus.connect();
        primus.write({'action': 'update_person', 'person': window.person});
        primus.on('data', function message(data) {
            var update_person_answer = data.update_person_answer;
            if (update_person_answer === 'error') {
                window.alert('Update error');
            }
            else if (update_person_answer === 'success') {
                $.removeCookie("name");
                window.open('/', "_self");
            }
        });
    }
</script>
<script>
    function logout() {
        $.removeCookie("name");
        window.open('/', "_self");
    }
</script>
<div class="wrapper">
    <div id="shell-panel" tabindex="0">
        <div>Welcome to TWO MUD!<br>
        </div>
        <div id="shell-view"></div>
    </div>
</div>
</body>
</html>
