<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script src="/public/lib/primus.js"></script>
    <script src="/public/js/index.js"></script>
    <script src="/public/lib/josh.js/killring.js"></script>
    <script src="/public/lib/josh.js/history.js"></script>
    <script src="/public/lib/josh.js/readline.js"></script>
    <script src="/public/lib/josh.js/shell.js"></script>
    <script src="/public/lib/josh.js/pathhandler.js"></script>
    <script src="/public/js/cli-commands.js"></script>
    <script src="/public/lib/cli.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
</head>

<body id="body_elements" style="display: none; overflow:hidden; margin:0;" bgcolor="#002F05">
<table class="text_color">
    <tr>
        <td id="name">test</td>
        <td id="logout">
            <button onclick="logout()">Logout</button>
        </td>
    </tr>
    <tr>
        <td id="highscores"></td>
        <button onclick="highscores()">Highscores</button>
    </tr>
</table>
<table width="100%">
    <td width="70%">
        <table class="text_color" align="center">
            <tr>
                <td class="left-margin-class">Strength:</td>
                <td align="left" id="currStrength"></td>
                <td class="left-margin-class">Dexterity:</td>
                <td id="currDexterity"></td>
                <td class="left-margin-class">Health:</td>
                <td>
                    <progress id="health" class="health_progress"></progress>
                </td>
                <td id="currHp"></td>
                <td class="left-margin-class">Level:</td>
                <td id="level"></td>
                <td class="left-margin-class">Experience:</td>
                <td>
                    <progress id="experience" class="exp_progress"></progress>
                </td>
                <td id="currExperience"></td>
            </tr>
        </table>
        <div class="wrapper">
            <div id="shell-panel" tabindex="0">
                <div>Welcome to TWO MUD!<br>
                </div>
                <div id="shell-view"></div>
            </div>
        </div>
    </td>
    <td width="30%" align="center">
        <table id="map-view">
            <tr>
            </tr>
        </table>
    </td>
</table>
<script language="javascript">
    function autoResizeDiv() {
        document.getElementById('shell-panel').style.height = (window.innerHeight - 150) + 'px';
    }
    window.onresize = autoResizeDiv;
    autoResizeDiv();
</script>
</body>
</html>
